 .about-content {
    width: 100%;
    min-height: 100vh;
    position: relative;
    z-index: 2;
    box-sizing: border-box;
    padding: 60px 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

 .about-text {
    width: 100%;
    padding: 0px 150px;
    box-sizing: border-box;
}

 .paragraph {
    width: 100%;
    font-size: 20px;
    font-weight: 400;
    text-align: justify;
}

 .important-word {
      color: #daa520;
      font-weight: 600;
}

@media (max-width: 1000px) {
    .about-text {
        padding: 0px 5vw;
    }
}