@font-face {
    font-family: 'LemonMilk-regular';
    src: url('assets/fonts/lemon_milk/LEMONMILK-Regular.otf') format('opentype');
}

html, body {
    font-family: 'LemonMilk-regular', sans-serif;
    margin: 0;
}